<div id="page1 container-fluid">
  <div class="row">
    <div ng-show="$ctrl.showWarning" class="alert alert-warning">
      No data matching your query
    </div>
    <form action="" ng-submit="$ctrl.submit()" name="$ctrl.tagForm">
      <div class="form-group">
          <label for="searchTag">Tag</label>
          <input type="text" class="form-control" id="searchTag" placeholder="Tag" required
            ng-model="$ctrl.searchTag">
        </div>
      <div class="form-group">
        <label for="userId">User id</label>
        <input type="text" class="form-control" id="userId" placeholder="User id"
          ng-model="$ctrl.userId">
      </div>
      <button type="submit" class="btn btn-primary" >Submit</button>
      <button type="cancel" class="btn btn-default" ng-click="$ctrl.clearForm()">Cancel</button>
    </form>

    <br>

    <sorting-group on-change="$ctrl.onChange(val)">
    </sorting-group>

    <search-results-group
      show-details="$ctrl.showDetails(item)"
      search-results="$ctrl.searchResults"
      selected-sort="$ctrl.selectedSort"></search-results-group>

  </div>
</div>