<div id="page1">
  <form action="" ng-submit="$ctrl.submit()" name="$ctrl.tagForm">
    <div class="form-group">
        <label for="searchTag">Tag</label>
        <input type="text" class="form-control" id="searchTag" placeholder="Tag" required
          ng-model="$ctrl.searchTag">
      </div>
    <div class="form-group">
      <label for="userId">User id</label>
      <input type="text" class="form-control" id="userId" placeholder="User id"
        ng-model="$ctrl.userId">
    </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
    <button type="cancel" class="btn btn-default">Cancel</button>
  </form>

  <div class="sorting-group">
    <p>Sort by</p>
    <div class="radio">
      <label>
        <input type="radio" ng-model="$ctrl.selectedSort" value="views" checked>
        Views
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" ng-model="$ctrl.selectedSort" value="owner">
        Owner
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" ng-model="$ctrl.selectedSort" value="datetaken">
        Date taken
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" ng-model="$ctrl.selectedSort" value="dateupload">
        Date uploaded
      </label>
    </div>
  </div>

  <div class="search-results panel-group">
    <div class="panel panel-info" ng-repeat="item in $ctrl.searchResults | orderBy:$ctrl.selectedSort">
      <div class="panel-heading">
        {{item.searchTag}}
      </div>
      <div class="panel-body">
        <p>By {{item.owner}}</p>
        <img ng-src="{{item.url_q}}" alt="">
        <p>Taken: {{item.datetaken}}</p>
        <p>Uploaded: {{item.dateupload}}</p>
      </div>
      <div class="panel-footer">Views: {{item.views}}</div>
    </div>
  </div>

</div>